body {
	background-image: url("qq.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	height: 100%;
	width: 100%;
	margin:auto;
}
h1 {
	font-family: Brush Script MT;
	font-size:100;
	text-align: center;
	color: white;
	margin-top: 1%;
	padding-bottom:0;
	margin-bottom: 0;
}
h2 {
	font-size:12;
	font-family:Microsoft YaHei UI Light;
	text-align: center;
	color: white;
	padding-top:0%;
	letter-spacing:10px;
	padding-bottom:1%;
}
div {
	padding-top:0;
	padding-left:0;
	margin:auto;
}
p {
	font-family:Microsoft YaHei UI Light;
	font-size:12;
	color: white;
	margin-top:9%;
	padding-left:10%;
}
p.inset {
	border-style: inset;
	padding-left:5;
	padding-right:5;
	margin-left:5%;
	
}
.forme {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 140, 140, 1), rgba(0, 0, 0, 0)); 
	
}
.me {
	display: flex;
	justify-content:center;
}
.button2 {
	transition-duration:0.6s;
	background-color: #400080;
	border-radius: 20px;
	text-align: center;
	font-family: Century Gothic;
	font-size:25;
	cursor: pointer;
	padding: 30px 60px;
	margin: auto;
	position: relative;
	color: white;
	margin-top:60%;
	margin-right:70;
}
.button2:hover {
	background-color: black;
	font-size: 40;
	color: white;
}